<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% apply striptags %}{% block title '' %}{% endapply %} | Linkmat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Roboto:300,400&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') | replace({'<script': '<script defer'}) | raw }}
            {{ encore_entry_script_tags('admin') | replace({'<script': '<script defer'}) | raw }}
        {% endblock %}
        <meta name="turbolinks-cache-control" content="no-cache"/>
    </head>
    <body>
    <nav class="header">
        <ul class="header-nav">
            <li><a href="#">Acceuil</a></li>
            <li><a href="{{ path('admin_blog_index') }}">Blog</a></li>
            <li><a href="#">Truc & astuce</a></li>
            <li><a href="#">Live</a></li>
            <li><a href="#">Mods</a></li>
        </ul>
        <ul class="header-side">
            {% if app.user %}
                <li class="header__account"><a href="{{ path('app_logout') }}"> {{ app.user.username }}</a>
                </li>
            {% else %}
                <li class="header__account"><a href="{{ path('app_login') }}"> Se connecter</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="dashboard py5">

        {% block body '' %}
    </div>
    </body>
</html>
